:root {
    --primary-color: #1C3879;
    --second-color: #607EAA;
    --third-color: #EAE3D2;
    --gray-color: #F9F5EB;
    --white-color: #ffffff;
    --light-gray-color: #eeeeee;
    --gap: 3rem;
}